.title {
    height: 40px;
    width: 500px;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: black;
    text-align: center;
}

.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #6c94f3; 
    color: #e6f7ff;
}